* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#fixed {
  position: fixed;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
    width: 20%;
}

li a, .drop {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropit:hover .drop {
    background-color: red;
}

li.dropit {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 20%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropit:hover .dropdown-content {
    display: block;
}
#crest {
  width: 2.80%;
  height: 2.80%;
}
#year {
  width: 15%;
  height: 2.80%;
  color: white;
  font-size: 32px;
  padding: .2%;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background: black;
}
#crest-footer {
  width: 5%;
  height: 5%;
}
#year-footer {
  width: 15%;
  height: 5%;
  color: white;
  font-size: 32px;
  padding: 1.2%;
  margin-right: 58%;
}
#place  {
  width: 20%;
  height: 5%;
  padding: 1%;
}
#group-form {
  float: left;
  margin-top: 10%;
  margin-left: 30%;
  width: 40%;
}
.crest {
  width: 5%;
  height: 5%;
  padding: 1%;
}
.size {
  font-size: 40px;
  border-radius: 10px;
  margin-bottom: 2%;
}
.style-link{
  display: block;
  display: inline-block;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  color: white;
  cursor: pointer; cursor: hand;
  overflow: scroll;
}
.style-image{
  /*width: 70%;*/
  border-radius: 25px;
  /*background: #73AD21;*/
  padding: 20px;
  width: 250px;
  height: 250px;

}
.all-style{
  width: 25%;
  display: inline-block;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-bottom: 5%;
  margin-left: 6%;
  overflow: scroll;
  font-size: 30px;
  color: 	white;
  font-family: 'Shadows Into Light Two', cursive;
}
#app{
  width: 100%;
  margin-top: 5%;
  margin-left: 1%;
  float: left;
  display: inline-block;
}
.group-img {
  height: 500px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.add-group-info{
  background: rgba(0,0,0,0);
}
.title-description, .student-name-list, .group-description, .repo-URL, .deployed-page-URL {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: auto;
  text-align: center;
  color: white;
}
.title-description {
  font-size: 40px;
  width: auto;
  text-align: center;
  font-family: Lobster;
}
.repo-URL, .deployed-page-URL {
  width: 30%;
}
#submit {
  float: left;
  margin-top: 10%;
  margin-left: 30%;
  width: 40%;
}

body {
  background: linear-gradient(to bottom, rgb(76,76,76) 0%,rgb(89,89,89) 12%,rgb(0,0,0) 22%,rgb(0,0,0) 22%,rgb(0,0,0) 33%,rgb(44,44,44) 44%,rgb(44,44,44) 44%,rgb(71,71,71) 49%,rgb(0,0,0) 59%,rgb(43,43,43) 67%,rgb(17,17,17) 77%,rgb(17,17,17) 77%,rgb(28,28,28) 91%,rgb(102,102,102) 100%,rgb(19,19,19) 100%);
}
@keyframes example {
    from {opacity: 0;transform: translate3d(-100%, 0, 0)
            rotate3d(0, 0, 1, -120deg);}
    to {opacity: 1; transform: none;}
}

#intro {
    width: 60%;
    color: red;
    animation-name: example;
    animation-duration: 6s;
    float: left;
    margin-top: 10%;
    margin-left: 26.5%;
    font-size: 100px;
}
@keyframes intro1 {
    from {opacity: 0;transform: translate3d(-100%, 0, 0)
            rotate3d(0, 0, 1, -120deg);}
    to {opacity: 1; transform: none;}
}

#intro-img {
    width: 20%;
    height: 40%;
    animation-name: intro1;
    animation-duration: 6s;
    float: left;
    margin-top: 1%;
    margin-left: 40%;
    font-size: 100px;
}

#gif-img {
  float: right;
  margin-top: 1%;
  height: 50%;
  width: 30%;
  padding: 2%;
  margin-right: 2.5%;
  border-radius: 100px;
}

#gif-img2 {
  float: right;
  margin-top: -25.5%;
  height: 50%;
  width: 30%;
  padding: 2%;
  margin-right: 68%;
  border-radius: 100px;
}
#nato {
  padding: 3%;
  width: 20%;
  height: 20%;
  float: left;
  margin-left: 20%;
}
#justin {
  padding: 3%;
  width: 20%;
  height: 20%;
  float: left;
}
#brian {
  padding: 3%;
  width: 20%;
  height: 20%;
  float: left;
}
#natop {
  width: 5%;
  height: 10%;
  color: white;
  font-weight: bold;
  overflow: scroll;

}
#justinp {
  width: 5%;
  height: 10%;
  color: white;
  font-weight: bold;
  overflow: scroll;

}
#brianp {
  width: 5%;
  height: 10%;
  color: white;
  font-weight: bold;
  overflow: scroll;

}
#bios {
  float:left;
  margin-top: 5%;
  width: 100%;
  height: 50%;
}
#natop {
  width: 20%;
  height: 20%;
  float: left;
  padding: 1%;
}
#justinp {
  width: 20%;
  height: 20%;
  float: left;
  padding: 1%;

}
#brianp {
  width: 20%;
  height: 20%;
  float: left;
  padding: 1%;

}

button {
  width: 30%;
  height: 10%;
  padding: 1%;
  margin-left: 15%;

}

#but {
  margin-left: 35%;
}
#paragraph {
float: left;
margin-left: 20%;
}
.deployed-page-URL {
  padding-bottom: 100px;
}
